    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>在家也能輕鬆購物</h1>
                <hr>
                <p>馬上體驗</p>
                <a href="<%= products_path %>" class="btn btn-primary btn-xl page-scroll">立即選購</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">心動不如馬上行動</h2>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>品質</h3>
                        <p class="text-muted">EasyBuy給您最高的商品品質</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>快速</h3>
                        <p class="text-muted">今天中午前下單
                    <br>明天傍晚前保證到貨</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>方便</h3>
                        <p class="text-muted">EasyBuy提供您 
                    <br>信用卡付款與ATM轉帳
                    <br>兩種付款方式</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>簡單</h3>
                        <p class="text-muted">兩分鐘內即可註冊完畢 
                    <br>介面簡單好上手</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>EasyBuy祝您購物愉快</h2>
                
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">聯絡我們</h2>
                    
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>3345678</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">admin@EasyBuy.com</a></p>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
