<div class="well well-sm">
   <h2 class="text-center"> 關於本站 </h2>
   <br>
  <div>
    <p class="text-info text-center">
    本站僅供測試用途，如有雷同純屬巧合
    </p>
    <p class="text-info text-center">
    所有販賣商品皆不出貨，有任何疑問不予聯絡
    </p>
  </div>
</div>